* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;
  background-color: #24252a;
  border-bottom-width: 2px;
  border-bottom-color: whitesmoke;
}

.bottom_nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 30px 10%;
  background-color: #24252a;
}
.logo {
  margin-right: auto;
}

.nav__links,
.nav_links {
  list-style: none;
  display: flex;
}

.nav__links a,
.about {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #edf0f1;
  text-decoration: none;
}

.nav_links a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #edf0f1;
  text-decoration: none;
  font-size: 14px;
}

.nav__links li {
  padding: 0px 20px;
}

.nav_links li {
  padding: 0px 15px;
}

.nav__links,
.nav_links li a {
  transition: all 0.3s ease 0s;
}

.nav__links,
.nav_links li a:hover {
  color: #0088a9;
}

.about {
  margin-left: 20px;
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.about:hover {
  background-color: rgba(0, 136, 169, 0.8);
}
form {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 1s;
  width: 30px;
  height: 30px;
  background: white;
  box-sizing: border-box;
  border-radius: 25px;
  padding: 5px;
}

input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
  line-height: 30px;
  outline: 0;
  border: 0;
  display: none;
  font-size: 1em;
  border-radius: 20px;
  padding: 0 20px;
}

.fa {
  box-sizing: border-box;
  padding: 4px;
  margin: auto;
  width: 28px;
  height: 28px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  color: #07051a;
  text-align: center;
  font-size: 1.2em;
  transition: all 1s;
}

form:hover {
  width: 200px;
  cursor: pointer;
}

form:hover input {
  display: block;
}

form:hover .fa {
  color: rgba(0, 136, 169, 1);
}
