@media (max-width: 1000px){
  .lessons{
  flex-wrap: wrap;
  }
  .lesson{
    width: 50%;
  }
}


@media (max-width: 670px){
  .lessons{
  flex-direction: column;
  }
  .lesson{
    margin: auto;
  }
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;
  background-color: #24252a;
  border-bottom-width: 2px;
  border-bottom-color: whitesmoke;
}

.bottom_nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 30px 10%;
  background-color: #24252a;
}
.logo {
  margin-right: auto;
}

.nav__links,
.nav_links {
  list-style: none;
  display: flex;
}

.nav__links a,
.about {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #edf0f1;
  text-decoration: none;
}

.nav_links a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #edf0f1;
  text-decoration: none;
  font-size: 14px;
}

.nav__links li {
  padding: 0px 20px;
}

.nav_links li {
  padding: 0px 15px;
}

.nav__links,
.nav_links li a {
  transition: all 0.3s ease 0s;
}

.nav__links,
.nav_links li a:hover {
  color: #0088a9;
}

.about {
  margin-left: 20px;
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.about:hover {
  background-color: rgba(0, 136, 169, 0.8);
}
form {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,0%);
  transition: all 1s;
  width: 30px;
  height: 30px;
  background: white;
  box-sizing: border-box;
  border-radius: 25px;
  padding: 5px;
}

input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
  line-height: 30px;
  outline: 0;
  border: 0;
  display: none;
  font-size: 1em;
  border-radius: 20px;
  padding: 0 20px;
}

.fa {
  box-sizing: border-box;
  padding: 4px;
  margin: auto;
  width: 28px;
  height: 28px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  color: #07051a;
  text-align: center;
  font-size: 1.2em;
  transition: all 1s;
}

form:hover {
  width: 200px;
  cursor: pointer;
}

form:hover input {
  display: block;
}

form:hover .fa {
  color: rgba(0, 136, 169, 1);
}
.search{
    
}
}
	.top-wrapper {

  padding: 180px 0 100px 0;
  background-image: url(https://img.okeinfo.net/content/2020/07/03/18/2240631/catat-rekor-dunia-as-laporkan-55-000-kasus-covid-19-dalam-sehari-5uWbndUaQ9.jpg);
  background-position: center;
  background-size: cover;
  color: white;
  text-align: center;
}

.top-wrapper h1 {
  
  font-size: 45px;
  text-align: left;
  color: white;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;  
  font-weight: bold;
  margin-left: 20px;

}
.top-wrapper h3 {
  
  text-align: left;
  color: white;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  margin-left: 20px;

}
.top-wrapper a{
  padding: 12px 24px;
  color: white;
  display: inline-block;
  border-radius: 20px;
  text-decoration: none;
  background-color: #c0392b;
  position: absolute;left: 20px;
}

.top-wrapper a:hover{
	 background-color: black;
}
.top-wrapper p {
  opacity: 0.7;
  margin-bottom: 3px;
  
}
.top-wrapper span{
	color: red;
}
.lesson-wrapper {
  height: 500px;
  padding-bottom: 80px;
  background-color: #f7f7f7;
  text-align: center;
}

.heading {
  padding-top: 60px;
  padding-bottom: 30px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: normal;
}

.lesson {
  float: left;
  width: 25%;
}

.lesson-icon {
  position: relative;

}
.lesson-icon img {
  position: relative;
  width: 300px;

}

.lesson-icon p {
  position: absolute;
  top: 200px;
  width: 100%;
  color: #c0392b;
}

.txt-contents {
  width: 80%;
  display: inline-block;
  font-size: 15px;
  color: #b3aeb5;
  text-align: left;
}
.lesson-icon h6{
 position: left;
}
.read{
	  background-color: #c0392b;
	  border: none;
	  color: white;
	  padding: 5px 100px;
	  text-align: center;
	  text-decoration: none;
	  display: inline-block;
	  font-size: 16px;
	  margin: 4px 2px;
	  transition-duration: 0.4s;
	  cursor: pointer;
	  border-radius: 10px;
	  width: 200px;

}
.read:hover{
	color: white;
	background-color:black;
}
.more{
    background-color: #c0392b;
    color: white;
    padding: 5px 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 10px;
    width: 50px;

}
.more:hover{
  color: white;
  background-color:black;
}
footer img {
  width: 125px;
}


footer {
  padding-top: 10px;
  background-color: #2c3e50;
}
