@media (max-width: 1000px){
  .lessons{
  flex-wrap: wrap;
  }
  .lesson{
    width: 50%;
  }
}

@media (max-width: 670px){
  .lessons{
  flex-direction: column;
  padding-bottom: 100px;
  }
  .lesson{
    margin: auto;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*style header*/
header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;
  background-color: #24252a;
}

.bottom_nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 30px 10%;
  background-color: #24252a;
}
.logo {
  margin-right: auto;
}

.nav__links,
.nav_links {
  list-style: none;
  display: flex;
}

.nav__links a,
.about {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #edf0f1;
  text-decoration: none;
}

.nav_links a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #edf0f1;
  text-decoration: none;
  font-size: 14px;
}

.nav__links li {
  padding: 0px 20px;
}

.nav_links li {
  padding: 0px 15px;
}

.nav__links,
.nav_links li a {
  transition: all 0.3s ease 0s;
}

.nav__links,
.nav_links li a:hover {
  color: #0088a9;
}

.about {
  margin-left: 20px;
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.about:hover {
  background-color: rgba(0, 136, 169, 0.8);
}

/*search bar*/
form {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,0%);
  transition: all 1s;
  width: 30px;
  height: 30px;
  background: white;
  box-sizing: border-box;
  border-radius: 25px;
  padding: 5px;
}

input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
  line-height: 30px;
  outline: 0;
  border: 0;
  display: none;
  font-size: 1em;
  border-radius: 20px;
  padding: 0 20px;
}

.fa {
  box-sizing: border-box;
  padding: 4px;
  margin: auto;
  width: 28px;
  height: 28px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  color: #07051a;
  text-align: center;
  font-size: 1.2em;
  transition: all 1s;
}

form:hover {
  width: 200px;
  cursor: pointer;
}

form:hover input {
  display: block;
}

form:hover .fa {
  color: rgba(0, 136, 169, 1);
}
/*search bar*/

/*slideshow*/

.slideshow {
  width: 100%;
  position: absolute;
  overflow: hidden;
}

.slideshow-item {
  /*opacity: 0;*/
  animation: cycleImages 15s infinite;
}

.slideshow-item img {
  width: 100%;
  height: 50%;
}

.slideshow-item-text {
  max-width: 50%;
  position: absolute;
  top: 30%;
  left: 0;
  transform: translateY(-50%);
  background-color: rgb(0, 0, 0, 8);
  color: #fff;
  padding: 100 px 100px;
  opacity: 70%;
}

.slideshow-item-text h5 {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 1rem;
  padding: 30px;
}

.slideshow-item-text p {
  font-size: 11px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  padding-bottom: 30px;
  padding-left: 30px;
  font-weight: 500;
}

.read {
  font-size: 11px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 10px;
  width: 200px;
  height: 20px;
  padding: 5px 10px;
  font-weight: 500;
}

.read:hover {
  color: black;
  background-color: rgb(81, 184, 216);
}

@keyframes cycleImages {
  25% {
    opacity: 1;
  }
  35% {
    opacity: 0;
  }
}


/*body*/

h5, h4, h2 {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  font-weight: 500;
}

.lesson-wrapper {
  height: 500px;
  padding-bottom: 80px;
  background-color: whitesmoke;
  text-align: center;
}

.heading {
  padding-top: 60px;
  padding-bottom: 30px;
  color: #24252a;
}

.heading h2 {
  font-weight: normal;
}

.lesson {
  float: left;
  width: 25%;
  
}

.lesson-icon {
  position: relative;
}
.lesson-icon img {
  position: relative;
  width: 300px;
}

.lesson-icon p {
  position: absolute;
  top: 200px;
  width: 100%;
  color: #c0392b;
}

.txt-contents {
  width: 80%;
  display: inline-block;
  font-size: 15px;
  color: #44414d;
  text-align: left;
  margin-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.lesson-icon h6 {
  position: left;
}

.more {
  background-color: #c0392b;
  color: white;
  padding: 5px 50px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 10px;
  width: 50px;
  font-family: "Montserrat", sans-serif;
}


.more:hover {
  color: white;
  background-color: black;
}


footer img {
  max-width: 20%;
}

footer {
  padding-top: 50px;
  margin-top: 100px;
  background-color: #24252a;
}


@media only screen and (max-width:500px) {
  /* For mobile phones: */
 .nav__links, .nav_links, .logo {
    width: 100%;
  }

  html { font-size:100%; }
@media (min-width: 640px) { body {font-size:1rem;} } 
@media (min-width:960px) { body {font-size:1.2rem;} } 
@media (min-width:1100px) { body {font-size:1.5rem;} }
